@charset "UTF-8";

$pc_tab: 999px; // PC・タブレット
$tab: 800px;  // タブレット
$tab_sp: 700px;  // SP・タブレット
$sp: 560px;  // sp

@mixin pc_tab {
  @media (max-width: ($pc_tab)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin tab_sp {
    @media (max-width: ($tab_sp)) {
      @content;
    }
  }
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
} 


body {
    color: #463729;
    font-size: 16px;
    line-height: 25px;
    /*--background-color: #FFF;--*/
}

a {
    cursor: pointer;
    color: #2e68d4;
}

.header_wrap, .main_visual , section ,footer {
    padding: 0;
    @include pc_tab {
        padding: 0 10px;
    }
    @include tab {
        padding: 0;
    }
}

header {
    @include tab_sp {
        padding: 0;
    }
    &::after{
        content: '';
        display: block;
        z-index: 100000;
        height:15px;
        width:100%;
        margin-bottom: -15px;
        background-image: radial-gradient(30px at 50% 0, #fff, #fff 49%, rgba(255,255,255,0) 51%, rgba(255,255,255,0));
        background-size: 32px 100%;
    }
}

img {
    max-width: 100%;
    width: 100%;
}

header {
    padding-top: 25px;
    width: 100%;
    position: relative;
    @include tab_sp {
        padding-top: 0;
        position: fixed;
        top: 0;
        left: 0;
        height: 60px;
        z-index: 10000;
        background-color: #FFF;
    }
    &.fixed{
        position: fixed;
        z-index: 9999;
        background-color: #FFF;
        .gnavi {
            margin: 0;
        }
    }
    h1 img {
        max-width: 189px;
        width: 100%;
        @include tab_sp {
            margin: 15px;
        }
        @include tab {
            margin: 15px;
        }
        @include pc_tab {
            margin: 15px;
        }
    }
    nav.gnavi{
        width: 100%;
        @include tab_sp {
            margin: 0;
            position: fixed;
            background-color: #FFF;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            @include tab_sp {
                display: none;
            }
            li{
                font-size: 18px;
                margin: 30px;
                &.gnavi_flow_icon {
                    padding-left: 45px;
                }
                @include tab_sp {
                    margin: 15px;
                }
                a{
                    .sp_click {
                        position: relative;
                    }
                    color: #463729;
                    background: linear-gradient(#55b75a, #55b75a) right bottom / 0 .5em no-repeat;
	                transition: background-size .4s cubic-bezier(.215, .61, .355, 1);
                    @include tab_sp {
                            display:block;
                            width:100%;
                            background: #FFF;
                            padding: 15px;
                        }
                    &:hover {
                        background-position: left bottom;
	                    background-size: 100% .5em;
                    }
                }
            }
        }
        &.open_toggle {
            opacity: .9;
            ul{
                display: block;
                width: 100%;
                margin: 20px 0 10px;
                li{
                    opacity: .8;
                    &:hover{
                        opacity: 1;
                    }
                }
            } 
        }
    }
    .toggle_btn {
        background-color: #FFF;
        position: fixed;
        width: 45px;
        height: 45px;
        right: 10px;
        top: 15px;
        display: none;
        @include tab_sp {
            display: block;
        }
        span{
            position: absolute;
            top: 15px;
            left: 5px;
            width: 30px;
            height: 3px;
            display: block;
            background-color: #55b75a;
            transition: all .5s;
        &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0px;
            width: 30px;
            height: 3px;
            background-color: #55b75a;
            }
        &::after {
            content: "";
            position: absolute;
            top: 10px;
            left: 0px;
            width: 30px;
            height: 3px;
            background-color: #55b75a;
            }
        }
        &.open_toggle {
            span {
                background: rgba(30,30,30,0);
                transition: all .5s;
            }
            span::before {
                transform: rotate(45deg);
                    top: 0px;
            }
            span::after {
                transform: rotate(-45deg);
                    top: 0px;
            }
        }
    }
}

.swiper {
    z-index: -1 !important;
}

.gnavi_icon {
    position: relative;
    padding-left: 40px;
}

.gnavi_top_icon a::before {
    position: absolute;
    content: '';
    height: 28px;
    width: 39px;
    top:-2px;
    left: 0;
    background:url(../img/icon_top.png);
    @include tab_sp {
        top:12px;
    }
}

.gnavi_about_icon a::before {
    position: absolute;
    content: '';
    height: 28px;
    width: 39px;
    top:-2px;
    left: 0;
    background:url(../img/icon_about.png);
    @include tab_sp {
        top:12px;
    }
}

.gnavi_flow_icon a::before {
    position: absolute;
    content: '';
    height: 28px;
    width: 39px;
    top:-2px;
    left: 0;
    background:url(../img/icon_flow.png);
    @include tab_sp {
        top:12px;
    }
}

.gnavi_price_icon a::before {
    position: absolute;
    content: '';
    height: 28px;
    width: 39px;
    top:-3px;
    left: 0;
    background:url(../img/icon_price.png);
     @include tab_sp {
        top:12px;
    }
}

.main_visual {
    position: relative;
    @include tab_sp {
        margin-top: 65px;
    }
}

main.top::before {
        content: '';
        display: block;
        margin-top: -15px;
        z-index: 1000;
        height:15px;
        width:100%;
        background-image: radial-gradient(30px at 50% 0, rgba(255,255,255,0), rgba(255,255,255,0) 49%, #fff4ea 51%, #fff4ea);
        background-size: 32px 100%;
}

main.about {
    &::before {
        content: '';
        display: block;
        z-index: 1000;
        height:15px;
        width:100%;
        background-image: radial-gradient(30px at 50% 0, #fff4ea, #fff4ea 49%, rgba(255,255,255,0) 51%, rgba(255,255,255,0));
        background-size: 32px 100%;
    }
}

.common_inner {
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
    .top_inner {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-evenly;
        li {
            width:calc( 100% / 3);
            text-align: center;
            margin-bottom: 30px;
            a {
                display: block;
            }
            @include tab {
                width:50% ;
            }
            @include sp {
                width:100% ;
            }
            img {
                height: 242px;
                width: 242px;
                border-radius: 50%;
                -o-object-fit: cover;
                   object-fit: cover;
                opacity: 1;
                &.orange {
                    background-color: #fff4ea;
                }
            }
            a:hover img{
                -webkit-animation: flash 1.5s;
            animation: flash 1.5s;
            @-webkit-keyframes flash {
                0% {
                  opacity: .4;
                }
                100% {
                  opacity: 1;
                }
              }
              @keyframes flash {
                0% {
                  opacity: .4;
                }
                100% {
                  opacity: 1;
                }
              }
            }
            h3 {
                margin-top: 15px;
                font-size: 19px;
            }
        }
    }
    .page_heading {
        position: relative;
        display: block;
        width: 100%;
        background-color: #fff4ea;
        padding: 20px 20px 20px 60px;
        margin-bottom: 25px;
    }
    .page_heading::before {
        position: absolute;
        content: '';
        height: 28px;
        width: 32px;
        top:15px;
        left: 20px;
        background:url(../img/icon_top2.png);
    }
}


.heading_area {
    display: flex;
    justify-content: center;     
    margin-bottom:50px;
}

.heading_top_common {
    font-size: 26px;
    text-align: center;
    position: relative;
    width: initial;
    display: inline-block;
}

.heading_top_common::before {
    content: url("../img/heading_icon.png");
    height: 66px;
    width: 94px;
    display: block;
    margin: 0 auto 25px;
}

.icon_color_pink {
    color:#e95c66;
    margin-right: 5px;
}

.news {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px 14px;
    position: absolute;
    background-color: #FFF;
    bottom: -20px;
    z-index: 10000;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 4px solid #55b75a;
    border-radius: 10px;
    @include pc_tab {
        width: 90%;
    }
    @include tab {
        flex-direction: column;
    }
    h2.top_news_heading {
        width: 154px;
        padding: 0 35px 0 45px;
        color: #55b75a;
        font-size: 18px;
        position: relative;
    }
    h2.top_news_heading::before {
        position: absolute;
        content: url("../img/news_icon.png");
        height: 28px;
        width: 31px;
        top:-5px;
        left: 10px;
    }
    div {
        width: calc(100% - 154px);
        @include sp {
            width: auto;
        }
    }
    dl {
        display: flex;
        flex-direction: row;
        align-content: center;
        @include sp {
            flex-direction: column;
        }
        dt {
            margin-right: 20px;
        }
    }
}

.page_heading_area {
    height: 165px;
    width: 100%;
    background-color: #fff4ea;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    @include tab_sp {
        margin-top: 65px;
    }
}

h1.heading01 {
    font-size: 28px;
    color: #463729;
}

section {
    padding: 30px 0;
    z-index: 1;
    @include pc_tab {
        padding: 30px 10px;
    }
    &.top_about {
        background-color: #fff4ea;
        position: relative;
        a{
            color: #463729 ;
        }
    }
    &.top_flow {
        position: relative;
        a{
            color: #463729;
        }
        &::before {
            content: '';
            display: block;
            z-index: 1000;
            margin-top: -30px;
            height:15px;
            width:100%;
            background-image: radial-gradient(30px at 50% 0, #fff4ea, #fff4ea 49%, rgba(255,255,255,0) 51%, rgba(255,255,255,0));
            background-size: 32px 100%;
        }
    }
    &.top_price {
        padding-bottom: 45px;
        position: relative;
        background-color: #fff4ea;
        a{
            color: #463729;
        }
        &::before {
            content: '';
            display: block;
            margin-top: -45px;
            height: 100px;
            width: 100%;
            height:15px;
            background-image: radial-gradient(30px at 50% 100%, #fff4ea, #fff4ea 49%, rgba(255,255,255,0) 51%, rgba(255,255,255,0));
            background-size: 32px 100%;
        }
        &::after {
            content: '';
            display: block;
            z-index: 1000;
            margin-bottom: -60px;
            height:15px;
            width:100%;
            background-image: radial-gradient(30px at 50% 0, #fff4ea, #fff4ea 49%, rgba(255,255,255,0) 51%, rgba(255,255,255,0));
            background-size: 32px 100%;
        }
    }
    &.page_about_overview {
        table {
            width: 100%;
            height: auto;
            border-collapse: separate;
            border-spacing: 2px;
            th {
                background-color: #d3efd2;
                width: 235px;
                text-align: center;
                padding: 20px 0;
                @include sp() {
                    display: block;
                    width: 100%;
                }
            }
            td {
                background-color: #eaf7e9;
                width:calc(100% - 235px);
                padding: 20px 0 20px 30px;
                @include sp() {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
    &.page_about_flow {
        margin-bottom: 140px;
        dl {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            justify-content: flex-start;
            align-items: center;
            dt {
                margin-right: 20px;
                padding: 10px 20px;
                background-color: #e95c66;
                color: #FFF;
                border-radius: 5px;
            }
            dd {
                color: #e95c66;
                }
            }
        p {
            margin-bottom: 20px;
        }

    }
}

.common_dl {
        margin-bottom: 15px;
        dt {
            margin-bottom: 10px;
        }
        .icon_star {
            position: relative;
            padding-left: 15px;
            &::before {
                position: absolute;
                content: url("../img/dd_icon.png");
                height: 10px;
                width: 11px;
                top:-2px;
                left: 0px;
            }
        }

}

.bg_img_wrap {
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    .bg_about {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background: url("../img/top_about_top_left.png"), url("../img/top_about_top_right.png"), url("../img/top_about_bottom_left.png"), url("../img/top_about_bottom_right.png");
        background-repeat: no-repeat,no-repeat ;
        background-position: top left, top right ,bottom left, bottom right;
        height: 100%;
        width: 100%;
        @include tab() {
            position:relative;
        }
    }
    .bg_flow {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background: url("../img/bg_top_flow_left_top.png"), url("../img/bg_top_flow_right_top.png") ,url("../img/bg_top_flow_left_bottom.png"), url("../img/bg_top_flow_right_bottom.png");
        background-repeat: no-repeat,no-repeat ;
        background-position: top left, top right, bottom left, bottom right;
        height: 100%;
        width: 100%;
        @include tab() {
            position:relative;
        }
    }
    .bg_price {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background: url("../img/top_price_left.png"), url("../img/top_price_right.png");
        background-repeat: no-repeat,no-repeat ;
        background-position: top left, top right;
        height: 100%;
        width: 100%;
        @include tab() {
            position:relative;
        }
    }
}

.bg_img_wrap__custom1 {
    margin: 30px auto;
}

footer {
    text-align: center;
    padding: 30px 0 40px;
}